﻿@model TrainingGest.Web.Models.CourseViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Index</p>
      

        @using (Html.BeginForm())
        {
            <label>
                @Html.DisplayNameFor(model => model.Name)
            </label>
            <div>
                @Html.TextBoxFor(model => model.Name)
            </div>
            
        }

       
    </div>
</body>
</html>
